<html>
    <head>
        <title>
            Login Page
        </title>
        <link rel="stylesheet" href="{{url_for('static',filename = 'Profile_style.css')}}" >
    </head>
    <body style = "margin: auto;
                    width: 30%;
                    margin-top: 5%;
                    background: linear-gradient(180deg, rgb(1, 197, 27), rgb(1, 97, 27))">
        <div class = "form">
            <table>
                <tr>
                    <th colspan="2" style="text-align: center;
                                            font-size: 32px;">
                        Profile Information
                    </th>
                </tr>
                <tr>
                    <td>First Name</td>
                    <td> .. </td>
                </tr>
                <tr>
                    <td>Second Name</td>
                    <td> .. </td>
                </tr>
                <tr>
                    <td>Third Name</td>
                    <td> .. </td>
                </tr>
                <tr>
                    <td>Birthday</td>
                    <td> .. </td>
                </tr>
                <tr>
                    <td>Field Of Interest</td>
                    <td> .. </td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td> .. </td>
                </tr>
            </table>
        </div>
    </body>
</html>